.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-img {
  position: sticky;
  z-index: 1;
  /* background-position: center center; */

  background-size: cover;
  background-image: url(http://ns-webcams.its.sfu.ca/public/images/udn-current.jpg);
  background-repeat: no-repeat;
  overflow: scroll;

}

.fg-content {
  text-align: center;
  z-index: 2;
}

.TempBackground {
  margin-left: auto;
  margin-right: auto;
  background-color: #B4B7D0;

  padding-top: 45px;
  padding-left: 6px;
  border: 1px none;
  border-radius: 60px;
  box-shadow: 0px 0px 15px 4px #00000040;
  cursor: pointer;
  height: 120px;
  position: fixed;

  top: 75px;
  width: 180px;

  vertical-align: center;
}

.tempFont {
  text-shadow: 2px 2px 2px #99AC27;

  text-align: center;
  vertical-align: middle;
  line-height: 10px;

  font-size: 60px;
  font-weight: 600;
  color: #FFFFFF;
}

.weatherFont {
  
  vertical-align: middle;

  text-shadow: 1px 1px 1px #99AC27;


  color: #FFFFFF;
  font-size: 20px;
  font-weight:400px;
  margin-top: -10%;
  /* left: 45%; */
  /* position: center; */


}

.road-conditions.btn-test {
  background-color: #9BAE27; /* Green */
  border-radius:  20px;

  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px ;
  border: 1px solid black;
  width: 180px;


}

.about-sfu.btn-test {
  background-color: #BE2945; /* red */
  border-radius:  20px;

  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px ;
  border: 1px solid black;
  width: 180px;


}



.twitter-feed.btn-test {
  background-color: #3cdfff; /* red */
  border-radius:  20px;
  width: 180px;

  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px ;
  border: 1px solid black;

}




.dimmed-fg-content {}